* {
  box-sizing: border-box;
}

@font-face {
  font-family: "abc_ginto_nord_trialblack";
  src: url("abcgintonord-black-webfont.woff2") format("woff2"),
    url("abcgintonord-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}

html,
body {
  background-attachment: scroll;
  color: white;
  text-align: center;
  float: inherit;
  font-family: "CustomFont", abc_ginto_nord_trialblack;
  font-size: 24px;
}

body {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 10000% 10000%;
  animation: gradient 30s ease infinite; */
  background-color: rgb(80, 80, 80);
  font-family: "CustomFont", abc_ginto_nord_trialblack;
  font-size: 24px;
}

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
/* width */

code {
  font-family: monospace;
  background-color: rgb(51, 51, 51);
  padding: 2px;
  border-radius: 10px;
}

.code {
  font-family: monospace;
  background-color: rgb(51, 51, 51);
  padding: 2px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  background-color: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  padding: 10px;
  border-radius: 100px;
  background-color: rgb(124, 124, 124);
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
a:link {
  color: rgb(0, 26, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(4, 0, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 26, 255);
  background-color: inherit;
  position: relative;
  animation-name: hover;
  animation-duration: 2s;
}

@keyframes hover {
  0% {
    color: rgb(0, 26, 255);
  }
  50% {
    color: rgb(255, 0, 0);
  }
  100% {
    color: rgb(0, 26, 255);
  }
}

a:active {
  color: rgb(9, 255, 0);
  background-color: transparent;
  text-decoration: underline;
}
.responsive {
  width: 100%;
  height: auto;
}
.fixed {
  position: sticky;
  top: auto;
}
.button {
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  box-shadow: 0 9px #666;
  font-family: "CustomFont", abc_ginto_nord_trialblack;
  font-size: 24px;
}

.button:hover {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px), translateX(2px);
}

.btn-group button {
  color: white; /* White text */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: 1px; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: block;
}

/* Add a background color on hover */
.btn-group button:hover {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  float: left;
}
/* Style the header with a grey background and some padding */
.header {
  overflow: auto;
  font-family: "CustomFont", abc_ginto_nord_trialblack;
  font-size: 24px;
  background-color: #333;
  top: 0;
  position: sticky;
  /*z-index: 999;*/
  /* width: 100%;*/
  height: max-content;
  align-items: flex-start;
}

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  background-color: #333;
  /*top: 0;
  z-index: 999;*/
  width: 100%;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  background-color: #333;
  /*top: 0;
  z-index: 999;*/
  width: 100%;
}

/* Change the background color on mouse-over */
.header a:hover {
  color: transparent;
  background-color: #333;
  /*top: 0;
  z-index: 999;*/
  width: 100%;
}

/* Style the active/current link*/
.header a.active {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  color: white;
  background-color: #333;
  /*top: 0;
  z-index: 999;*/
  width: 100%;
}

/* Float the link section to the right */
.header-right {
  float: right;
  background-color: #333;
  /*top: 0;
  z-index: 999;*/
  width: 100%;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;

    top: 0;
    z-index: 999;
    width: 100%;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

.pre {
  font-size: 18px;
  font-weight: lighter;
  background-color: rgb(63, 62, 62);
  text-align: justify;
}

.nosel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.snackbarimg {
  background-color: transparent;
  border-color: transparent;
}
.center {
  float: none;
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
